<table class="table">
    <tbody>
        <tr>
          <td>Бренд</td>
          <td>{{ product.the_brand }}</td>
        </tr>

        <tr>
          <td>Состав</td>
          <td>{{ product.composition }}</td>
        </tr>

        <tr>
          <td>Год создание</td>
          <td>{{ product.year_creation }}</td>
        </tr>

        <tr>
          <td>Парфюмер</td>
          <td>{{ product.potfumer }}</td>
        </tr>

        <tr>
          <td>Страна</td>
          <td>{{ product.country }}</td>
        </tr>
    </tbody>
</table>